<template>
  <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="container is-max-desktop px-2">
      <div class="navbar-brand">
        <div class="navbar-item is-size-4 is-family-monospace">Notes</div>

        <a
          role="button"
          class="navbar-burger"
          :class="{ 'is-active': showMobileNav }"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
          @click.prevent="toggleShowMobileNav"
          ref="navBarBurgerRef"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div
        id="navbarBasicExample"
        class="navbar-menu"
        :class="{ 'is-active': showMobileNav }"
        ref="navBarMenuRef"
      >
        <div class="navbar-end">
          <router-link
            to="/"
            class="navbar-item"
            active-class="is-active"
            @click="toggleShowMobileNav"
          >
            Notes
          </router-link>

          <router-link
            to="/stats"
            class="navbar-item"
            active-class="is-active"
            @click="toggleShowMobileNav"
          >
            Stats
          </router-link>
        </div>
      </div>
    </div>
  </nav>
</template>

<script setup>
/*
  imports
 */
import { onClickOutside } from "@vueuse/core";
import { ref } from "vue";

/*
  mobile nav
 */

const showMobileNav = ref(false);

function toggleShowMobileNav() {
  showMobileNav.value = !showMobileNav.value;
}

/*
 * Click outside to close
 */

const navBarMenuRef = ref(null);
const navBarBurgerRef = ref(null);

onClickOutside(
  navBarMenuRef,
  (event) => {
    showMobileNav.value = false;
  },
  {
    ignore: [navBarBurgerRef],
  }
);
</script>

<style>
@media (max-width: 1023px) {
  .navbar-menu {
    position: absolute;
    left: 0;
    width: 100%;
  }
}
</style>
