<template>
  <div class="stats">
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Stat</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Number of Notes</td>
          <td>{{ storeNotes.totalNotesCount }}</td>
        </tr>
        <tr>
          <td>Number of Characters</td>
          <td>{{ storeNotes.noteCharacterCount }}</td>
        </tr>
      </tbody>
    </table>

    <input
      class="input mb-2"
      type="text"
      placeholder="Do you like this app?"
      v-autofocus
      v-model="inputRef"
      :maxlength="maxLength"
    />

    <button
      class="button is-link has-background-grey-dark mr-1"
      @click="$router.push('/')"
    >
      Back
    </button>
  </div>
</template>

<script setup>
/*
  import
 */
import { useStoreNotes } from "@/stores/storeNotes";
import { vAutofocus } from "@/directive/vAutofocus";
import { useWatchCharacters } from "@/use/useWatchCharacters";
import { ref } from "vue";

const storeNotes = useStoreNotes();

/*
ref
 */
const inputRef = ref("");
const maxLength = 10;

/*
  watch characters
 */
useWatchCharacters(inputRef, maxLength);
</script>
