<template>
  <div class="edit-note">
    <AddEditNote
      :model-value="noteContent"
      @updateModelValue="updateNote"
      bg-color="dark"
      place-holder="Edit note"
      label="Edit note"
    >
      <template #buttons>
        <button
          class="button is-link has-background-grey-dark mr-1"
          :disabled="!noteContent"
          @click="handleSaveClick"
        >
          Update Note
        </button>
        <RouterLink class="button is-link has-background-grey-dark mr-1" to="/"
          >Cancel</RouterLink
        >
        <button
          class="button is-link has-background-grey-dark mr-1"
          @click="$router.push('/')"
        >
          Back
        </button>
      </template>
    </AddEditNote>
  </div>
</template>

<script setup>
/*
  imports
 */

import AddEditNote from "@/components/Notes/AddEditNote.vue";
import { useStoreNotes } from "@/stores/storeNotes";
import { useRoute, useRouter } from "vue-router";
import { ref } from "vue";

/*
  router
 */
const route = useRoute();
const router = useRouter();

/*
  store
 */
const storeNotes = useStoreNotes();

/*
  note
 */
const noteContent = ref("");
noteContent.value = storeNotes.getNoteContent(Number(route.params.id));

const updateNote = (value) => {
  noteContent.value = value;
};
/*
saved clicked
 */

const handleSaveClick = () => {
  storeNotes.updateNote(Number(route.params.id), noteContent.value);
  router.push("/");
};
</script>
