<template>
  <div class="notes">
    <AddEditNote
      :model-value="newNote"
      @updateModelValue="updateNote"
      ref="addEditNoteRef"
    >
      <template #buttons>
        <button
          class="button is-link has-background-grey-dark"
          @click="addNote"
          :disabled="!newNote"
        >
          Add new Note
        </button>
      </template>
    </AddEditNote>
    <TheNote
      v-for="note in storeNotes.notes"
      :key="note.id"
      :note="note"
      @deleteClicked="storeNotes.deleteNote"
    />
  </div>
</template>

<script setup>
/*
 Imports
 */
import { ref } from "vue";
import TheNote from "@/components/Notes/TheNote.vue";
import AddEditNote from "@/components/Notes/AddEditNote.vue";
import { useStoreNotes } from "@/stores/storeNotes";
import { useWatchCharacters } from "@/use/useWatchCharacters";
/*
  store
 */

const storeNotes = useStoreNotes();

/*
 Notes
 */
const newNote = ref("");
const addEditNoteRef = ref(null);

const updateNote = (value) => {
  newNote.value = value;
};

const addNote = () => {
  storeNotes.addNote(newNote.value);
  newNote.value = "";
  addEditNoteRef.value.focusTextArea();
};

/*
  watch characters
 */
useWatchCharacters(newNote, 100);
</script>
