<template>
  <div class="card p-4 mb-5" :class="`has-background-${bgColor}-light`">
    <div class="field">
      <label v-if="label" class="label has-text-grey-dark">{{ label }}</label>
      <div class="control">
        <textarea
          :value="modelValue"
          @input="$emit('updateModelValue', textAreaRef.value)"
          class="textarea"
          :placeholder="placeHolder"
          maxlength="100"
          ref="textAreaRef"
          v-autofocus
        >
        </textarea>
      </div>
    </div>
    <div class="control field is-grouped id-grouped-right">
      <slot name="buttons"></slot>
    </div>
  </div>
</template>

<script setup>
/*
 imports
 */
import { ref } from "vue";
import { vAutofocus } from "@/directive/vAutofocus";

/*
  props
 */

const props = defineProps({
  modelValue: {
    type: String,
    required: true,
  },
  bgColor: {
    type: String,
    default: "grey",
  },
  placeHolder: {
    type: String,
    default: "Add a new note",
  },
  label: {
    type: String,
  },
});

/*
  emits
 */

const emit = defineEmits(["updateModelValue"]);

/*
  focus text area
 */
const textAreaRef = ref(null);

function focusTextArea() {
  textAreaRef.value.focus();
}

/* Make methods available to parent */
defineExpose({
  focusTextArea,
});
</script>
