<template>
  <div class="modal is-active p-2">
    <div class="modal-background"></div>
    <div class="modal-card" ref="modalCardRef">
      <header class="modal-card-head">
        <p class="modal-card-title">Delete Note?</p>
        <button class="delete" aria-label="close" @click="closeModal"></button>
      </header>
      <section class="modal-card-body">
        Are you sure you want to delete this note?
      </section>
      <footer class="modal-card-foot is-justify-content-flex-end">
        <button class="button" @click="closeModal">No</button>
        <button class="button is-danger" @click="handleDelete">Yes</button>
      </footer>
    </div>
  </div>
</template>

<script setup>
/*
  imports
 */
import { onClickOutside } from "@vueuse/core";
import { onMounted, onUnmounted, ref } from "vue";
import { useStoreNotes } from "@/stores/storeNotes";
/*
  props
 */
const props = defineProps({
  modelValue: {
    type: Boolean,
    default: false,
  },
  id: {
    type: Number,
    required: true,
  },
});

/*
store
 */

const store = useStoreNotes();
/*
  emits
 */

const emit = defineEmits(["update:modelValue"]);

/*
  close modal
 */
const closeModal = () => {
  emit("update:modelValue", false);
};

/*
click outside
 */
const modalCardRef = ref(null);

onClickOutside(modalCardRef, closeModal);

/*
delete
 */

const handleDelete = () => {
  store.deleteNote(props.id);
  closeModal();
};

/*
  keyboard control
 */
const handleKeyboardEscape = (e) => {
  if (e.key === "Escape") {
    closeModal();
  }
};

onMounted(() => {
  document.addEventListener("keyup", handleKeyboardEscape);
});

onUnmounted(() => document.removeEventListener("keyup", handleKeyboardEscape));
</script>
