<template>
  <div class="card mb-4 has-background-grey-light">
    <div class="card-content">
      <div class="content">
        {{ note.content }}
        <div class="has-text-right has-text-black mt-2">
          <small>{{ characterLength }}</small>
        </div>
      </div>
    </div>
    <footer class="card-footer">
      <RouterLink
        :to="`/edit-note/${note.id}`"
        href="#"
        class="card-footer-item has-text-grey-darker"
        >Edit</RouterLink
      >
      <a
        href="#"
        class="card-footer-item has-text-grey-darker"
        @click.prevent="modals.deleteNote = true"
        >Delete</a
      >
    </footer>
    <ModalDeleteNote
      v-if="modals.deleteNote"
      :id="note.id"
      v-model="modals.deleteNote"
    />
  </div>
</template>

<script setup>
/*
 Imports
 */
import { computed, reactive } from "vue";
import ModalDeleteNote from "@/components/Notes/ModalDeleteNote.vue";

/*
  Props
 */
const props = defineProps({
  note: {
    type: Object,
    required: true,
  },
});

/*
emits
 */

const emit = defineEmits(["deleteClicked"]);

/*
  note length
 */
const characterLength = computed(() => {
  const noteLength = props.note.content.length;
  const description = noteLength === 1 ? " character" : " characters";
  return noteLength + description;
});

/*
  handleDeleteClick

  NOTE: The delete method could be called directly (i.e. call directly the method from the store.

  Wanted to keep the emit example for future reference.
 */

const handleDeleteClick = () => {
  // emit id?
  emit("deleteClicked", props.note.id);
};
/*
  modal
 */

const modals = reactive({
  deleteNote: false,
});
</script>
